{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bidding</h1>
<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
        <tbody>
            <tr>
                <th>Bid</th>
                <td>{{ bidding.bid }}</td>
            </tr>
            {#<tr>#}
                {#<th>product</th>#}
                {#<td>{{ product.name }}</td>#}
            {#</tr>#}
        </tbody>
    </table>
        </div>
    </div>
</div>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('bidding_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('bidding_edit', { 'id': bidding.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
